<% hide = false unless local_assigns.has_key? :hide %>

<section class="step executor-body col-md-12" id="executor-section" data-x="-570" data-y="-410" style="<%= hide ? 'display: none;' : '' %>">
  <h2 class="title clearfix">
    <i class="flag"></i>
    <strong>Realização</strong>
  </h2>

  <p>O mundo está mudando e, para acompanhar esta transformação, a palavra-chave é compartilhar.</p>

  <p class="last-paragraph">O <strong>TEDxRecife</strong> é fruto de um trabalho colaborativo entre pessoas e organizações que acreditam num mundo melhor. A cada manifestação <strong>TEDxRecife</strong>, mais e mais parceiros aumentam a rede de colaboração. Ampliam a voz de um grupo louco de recifenses que inicialmente se uniram para espalhar ideias transformadoras.</p>

  <section class="organizers clearfix">
    <ul class="organizers-list list-inline clearfix">
      <li class="organizer-item">
        <%= link_to "http://www.linkedin.com/in/daniellamarcusso", target: :blank do %>
          <h6 class="avatar daniella-marcusso">Daniella Marcusso</h6>
        <% end %>
        <div class="bio">
          <p><strong>Daniella Marcusso de Vasconcellos</strong>, curadora e “coach” dos palestrantes do Ted-X Recife 2014, é uma “ expert” em expressão verbal, comunicação oral e escrita de alto impacto. Treina empreendedores, executivos e palestrantes para eventos em que a comunicação tem a possibilidade de mudar o rumo de sua vida e carreira.</p> <p>Formada em administração de empresas pela Fundação Getúlio Vargas (FGV/SP) e em direito pela USP (Universidade de São Paulo), mestrado (MBA) pela Columbia Business School em NY, Daniella fez cursos de especialização em oratória, retórica e negociações em instituições renomadas em Genebra,Londres e Nova York. <p>Trabalhou durante 14 anos como diretora de relacionamentos em instituições internacionais como Goldman Sachs e JP Morgan. Fundou a 18 Minutos Consultoria Especializada em Comunicação de Alto Impacto.</p> <p>Já realizou trabalhos voluntários como mentora e “coach de várias organizações internacionais tais como: TEDx, Startup Weekend,Technovation Challenge, Artemísia Lab, etc.</p>
          </div>
        </li>
        <li class="organizer-item">
          <%= link_to "http://br.linkedin.com/pub/alfredo-júnior/76/104/965/en", target: :blank do %>
            <h6 class="avatar alfredo-junior">Alfredo Júnior</h6>
          <% end %>
        <div class="bio">
          <div class="bio-tooltip">
            <p><strong>Alfredo Júnior</strong> é físico por formação e Empreendedor de coração. Possui mestrado em Engenharia Nuclear pela UFPE e é apaixonado pela criação de empresas com fins de propósito. Fundou sua primeira empresa aos 18 anos, durante uma greve de 06 meses na Universidade Federal de Pernambuco. A StandService Arquitetura Promocional começou como uma pequena locadora de móveis e materiais para eventos e, após 08 anos de mercado, se tornou uma das principais montadoras de eventos do Norte/Nordeste, atendendo clientes de todo o país e se tornando referência no setor.</p>
            <p>É mais jovem facilitador do Seminário Empretec no Brasil metodologia da Organização das Nações Unidas - ONU - voltada para o desenvolvimento de características do comportamento empreendedor e para a identificação de novas oportunidades de negócios, promovido em cerca de 34 países.</p>
            <p>Alfredo também é o organizador e responsável pela licença do TEDxRecife, além de embaixador da SandBox no Brasil, uma comunidade global de jovens líderes e empreendedores de impacto, com menos de 30 anos, que estão gerando impacto positivo e entregando valor para a sociedade.</p>
            <p>Em 2013 foi convidado para representar o Brasil num programa do Departamento de Estado Americano, International Visitors Leadership Program - IVLP, chamado A New Beginning: Entrepreneurship and Business Innovation, programa que selecionou e convidou 30 empreendedores de 30 países diferentes para passarem 3 semanas nos Estados Unidos trocando experiências e sendo acelerados, visando fortalecer as relações de negócios com o país.</p>
            <p>Alfredo é um dos fundadores do Impact Hub Recife, uma comunidade global de empreendedores de impacto, um ecosistema único de recursos, inspiração e oportunidades de colaboração em busca de um mundo mais sustentável, presente em mais de 60 cidades espalhadas pelo mundo. Atualmente exerce a posição de CEO da organização, que com apenas 11 meses de atividades já é o segundo maior Impact Hub do Brasil e um dos que mais crescem no mundo.</p>
          </div>
        </div>
      </li>
      <li class="organizer-item">
        <%= link_to "http://br.linkedin.com/pub/gleyce-ramos/32/60a/199/en", target: :blank do %>
          <h6 class="avatar gleyce-ramos">Gleyce Ramos</h6>
        <% end %>
        <div class="bio">
          <div class="bio-tooltip">
            <p><strong>Gleyce Ramos</strong> é especialista em pequenos negócios e empreendedorismo. Bacharel em Administração de Empresas, com Pós-Graduação em Gestão de Negócios Internacionais pela FGV (Fundação Getúlio Vargas), Planejamento Estratégico e Gestão Organizacional pela UPE (Universidade de Pernambuco) e MBA em Consultoria para Pequenas Empresas pela USP (Universidade de São Paulo).</p>
            <p>Executiva na área de educação e empreendedorismo na empresa SEBRAE, foi coordenadora estadual do Programa Empretec - Programa das Nações Unidas (ONU) por 08 anos. O EMPRETEC é um programa de excelência para empreendedores do mundo inteiro desenvolvido em mais de 30 países.</p>
            <p>É TEDx Organizer desde 2012, trabalhando na curadoria dos palestrantes. Enxerga neste evento uma oportunidade para fazer o bem e compartilhar idéias incríveis que podem mudar o mundo.</p>
            <p>Participou em 2014 a convite do Governo dos Estados Unidos, do International Visitors Leadership Program, intercâmbio para lideranças mundiais que fazem a diferença em suas comunidades. Nas horas vagas atua como DJ, hobby que é sua grande paixão há 10 anos.</p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="supporters clearfix">
    <div class="supporter-row clearfix">
      <h4 class="title col-md-2">Padroeiros</h4>
      <ul class="supporters-list list-inline col-md-10 padroeiros">
        <li class="supporters-list-item clearfix">
          <%= link_to "Impact Hub Recife", "http://recife.impacthub.net", target: :blank, class: 'hub-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Estúdio Albie", "http://www.albie.com.br", target: :blank, class: 'albie-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Eloquent Studio", "https://www.facebook.com/geteloquent", target: :blank,  class: 'eloquent-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "ALFRED", "http://www.alfred.tv.br", target: :blank,  class: 'alfred-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "18 minutos", "https://www.facebook.com/18minutos", target: :blank, class: 'dezoito-minutos-logo' %>
        </li>
      </ul>
    </div>
    <div class="supporter-row clearfix">
      <h4 class="title col-md-2">Cumpadres</h4>
      <ul class="supporters-list list-inline col-md-10 cumpadres">
        <li class="supporters-list-item clearfix">
          <%= link_to "C.E.S.A.R", "http://www.cesar.org.br/site/", target: :blank, class: 'cesar-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "VIVO", "http://www.vivo.com.br/", target: :blank, class: 'vivo-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Orbe", "http://www.orbeplan.com.br/", target: :blank, class: 'orbe-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Elefante – Coletivo Criativo", "http://elefante.cc/", target: :blank, class: 'elefante-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Globo Nordeste", "http://redeglobo.globo.com/globonordeste/", target: :blank, class: 'globo-ne-logo' %>
        </li>
        <li class="supporters-list-item g1-pe-item clearfix">
          <%= link_to "G1 – Pernambuco", "http://g1.globo.com/pernambuco", target: :blank, class: 'g1-pe-logo' %>
        </li>
      </ul>
    </div>
    <div class="supporter-row clearfix">
      <h4 class="title col-md-2">Chegados</h4>
      <ul class="supporters-list list-inline col-md-10 chegados">
        <li class="supporters-list-item clearfix">
          <%= link_to "ABA – Global Education", "http://www.abaweb.org/", target: :blank, class: 'aba-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Projeto Vincular", "http://www.projetovincular.com.br/", target: :blank, class: 'vincular-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Tempest Security Intelligence", "http://www.tempest.com.br/", target: :blank, class: 'tempest-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "HIP – High Impact Presentations", "http://hipbrasil.com.br/", target: :blank, class: 'hip-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "da Fonte, advogados", "http://www.dafonteadv.com.br/", target: :blank, class: 'da-fonte-logo' %>
        </li>
        <li class="supporters-list-item clearfix">
          <%= link_to "Backer", "http://backer.ag", target: :blank, class: 'backer-logo' %>
        </li>
      </ul>
    </div>
  </section>
</section>
