<ul class="global-nav-list clearfix nav navbar-nav">
  <li class="global-nav-item ted-logo">
    <%= link_to 'TED', page_path('about-ted') %>
  </li>
  <li class="global-nav-item talks-logo">
    <%= link_to 'Talks', page_path('talks') %>
  </li>
  <li class="global-nav-item livestream-logo">
    <%= link_to 'Assista e LIVESTREAM', livestream_path, target: :blank %>
  </li>
  <li class="global-nav-item tedx-logo">
    <%= link_to 'TEDx', page_path('about-tedx') %>
  </li>
  <li class="global-nav-item tedx-recife-logo">
    <%= link_to 'TEDx Recife', page_path('about-tedx-recife') %>
  </li>
</ul>
