<section class="video-list clearfix hidden-sm hidden-xs">
  <% speaker = speakers['belize-camara'] %>
  <div class="video-list-item belize-camara col-md-7" style="height: 350px; margin-top: 102px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 2em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.3em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['guilherme-jordao'] %>
  <div class="video-list-item guilherme-jordao col-md-5" style="height: 202px; margin-top: 50px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.2em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.1em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: 0.9em;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['pedro-melo'] %>
  <div class="video-list-item pedro-melo col-md-5" style="height: 202px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.2em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.2em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: 0.9em;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['gustavo-maia'] %>
  <div class="video-list-item gustavo-maia col-md-3" style="height: 300px;margin-left: 50px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.3em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.1em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: 0.9em;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['flavia-moura'] %>
  <div class="video-list-item flavia-moura col-md-4" style="height: 300px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.8em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.2em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: .9em;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['rafa-mattos'] %>
  <div class="video-list-item rafa-mattos col-md-4" style="height: 230px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.4em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.1em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: .9em; margin-top: -4px;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['andrea-souza'] %>
  <div class="video-list-item andrea-souza col-md-4" style="height: 180px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.2em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.1em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: 0.9em;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['renato-kyiama'] %>
  <div class="video-list-item renato-kyiama col-md-5" style="height: 225px; float: right;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.3em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.1em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description" style="font-size: .74em;"><%= speaker['description'] %></p>
    </div>
  </div>
  <% speaker = speakers['leonardo-cisneiros'] %>
  <div class="video-list-item leonardo-cisneiros col-md-6 col-md-offset-1" style="height: 325px; margin-top: -100px;" data-href="<%= speaker['video'] %>">
    <div class="overlay">
      <div class="header">
        <h4 class="talk" style="font-size: 1.3em;"><%= speaker['talk'] %></h4>
        <h5 class="speaker" style="font-size: 1.1em;"><%= speaker['name'] %></h5>
      </div>
      <p class="description"><%= speaker['description'] %></p>
    </div>
  </div>
</section>
