<%= content_for :page_title, ' – Sobre o TEDx Recife 2013' %>

<% content_for :body_classes do %>
  dark-body about-tedx-recife
<% end %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section class="main">
        <h2>Sobre o <strong class="tedx-recife-2013-logo">TEDx Recife 2013</strong></h2>

        <p>O <strong>TEDxRecife2013</strong> foi um evento sem ﬁns lucrativos, que reuniu 11 pensadores e realizadores das mais diversas áreas do conhecimento, como artes, tecnologia, ciência e empreendedorismo. Personagens que tiveram um papel ativo na construção da história do Recife compartilharam suas melhores ideias e experiências em palestras com duração entre 06 e 18 minutos, impulsionando discussões, reﬂexões e conexões de alcance local, regional e global.</p>

        <p>O <strong>TEDxRecife</strong> foi realizado no dia 30 de novembro de 2013, no Teatro Santa Isabel, e foi transmitido ao vivo para o mundo todo! Com o tema: “Rompendo Ideias com Ideais”, 11 palestrantes compartilharam com o público suas ideias que estão revolucionando a forma que vivemos, convivemos, trabalhamos e aprendemos.</p>
      </section>

      <%= render 'pages/videos_mosaic' %>

      <ul class="list-unstyled video-list-minified hidden-md hidden-lg">
        <% speakers.each do |(_, infos)| %>
          <li class="video-list-minified-item" data-href="<%= infos['video'] %>">
            <div class="details">
              <%= link_to infos['video'], target: :blank, class: 'video-link' do %>
                <h4 class="talk">
                  <%= infos['talk'] %>
                  <i class="fa fa-youtube-play"></i>
                </h4>
              <% end %>
              <h5 class="speaker"><%= infos['name'] %></h5>
              <%= image_tag "speakers/responsive/#{infos['photo']}", class: 'img-responsive photo' %>
              <p class="description"><%= infos['description'] %></p>
            </div>
          </li>
        <% end %>
      </ul>

      <%= render 'shared/symbol' %>
    </div>
  </div>
</div>
