<%= content_for :navbar_unresponsive do %>
  true
<% end %>
<%= content_for :additional_js do %>
  <script>
    impress().init();

    $(document).ready(function(){
      $(".pie").peity("pie")
      new OpeningAnimation('.menu').animate()

      $(document).on('impress:stepenter', function(event){
        $backButton = $('.back-button')

        if ($(event.target).prop('id') == $('#main-section').prop('id')) {
          $backButton.fadeOut()
        } else {
          $backButton.fadeIn()
        }
      });
    })
  </script>
<% end %>

<div id="impress">
  <section  id="main-section" class="step main-section clearfix" data-x="0" data-y="0">
    <div class="menu">
      <h2 class="menu-title">Conceito 2014</h2>
      <svg class="main-ball"></svg>
      <p class="menu-hint">passe o mouse ou navegue pelas setas</p>
    </div>
    <%= render 'pages/concept/animation' %>
    <%= render 'pages/executor/animation' %>
    <%= render 'pages/contact/animation' %>
    <%= render 'pages/subscription/animation' %>
    <h1 class="banner">TEDx Recife 2014 – Revoluções Silenciosas</h1>
  </section>
  <%= render 'pages/concept/body', hide: true %>
  <%= render 'pages/executor/body', hide: true %>
  <%= render 'pages/contact/body', hide: true %>
  <%= render 'pages/subscription/body', hide: true %>
</div>
<%= link_to "Voltar", '#main-section', class: 'back-button' %>
