<div id="impress">
  <section  id="main-section" class="step main clearfix" data-x="0" data-y="0">
    <div class="menu">
      <h2 class="menu-title">Conceito 2014</h2>
      <svg class="main-ball"></svg>
      <p class="menu-hint">passe o mouse</p>
    </div>
    <%= render 'pages/concept/animation' %>
    <%= render 'pages/executor/animation' %>
    <%= render 'pages/contact/animation' %>
    <%= render 'pages/subscription/animation' %>
    <div class="banner"></div>
  </section>
  <%= render 'pages/concept/body' %>
  <%= render 'pages/executor/body' %>
  <%= render 'pages/contact/body' %>
  <%= render 'pages/subscription/body' %>
</div>
