<%= form_for subscription, remote: true, html: { class: 'subscription-form dark-form clearfix col-md-12' } do |f| %>
  <% unless f.object.errors.empty? %>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <fieldset class="personal-infos col-md-6">
    <div class="form-group">
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name, required: true, class: 'input form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email, "Email" %>
      <%= f.email_field :email, required: true, class: 'input form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :cpf, "CPF" %>
      <%= f.text_field :cpf, required: true, class: 'input cpf-input form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :birthday, "Nascimento" %>
      <%= f.text_field :birthday, required: true, class: 'input birthday-input form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :corporation, "Empresa/Universidade" %>
      <%= f.text_field :corporation, required: true, class: 'input form-control' %>
    </div>
  </fieldset>

  <fieldset class="additional-infos col-md-6">
    <div class="form-group">
      <%= f.label :message, "Explique por que devemos selecioná-lo para participar do TEDxRecife:" %>
      <%= f.text_area :message, rows: 5, required: true, class: 'input message-input form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :social_networks, "Cite endereços de redes sociais e sites que nos ajude a conhecê-lo melhor:" %>
      <%= f.text_field :social_networks, class: 'input form-control' %>
    </div>
  </fieldset>

  <fieldset class="buttons col-md-6">
    <%= f.button "Enviar", class: 'btn-submit btn pull-right' %>
  </fieldset>
<% end %>
